#Cos{
	background-image: url(../imatges/Tablet_Grupllobet.jpg);
	background-size: cover;
	position:absolute;
	margin: 0 auto;
}
#Login{
	padding:0;
	/*background-color:powderblue;*/
	width: 300px;
	height:175px;
	margin: auto;
	margin-top: 50%;
	margin-left: 50%;
	position: relative;
}
#Login1{
	padding:0;
	font-weight: bold;
	text-align: center;
}
#Login2{
	padding:0;
	margin: 0 auto;
}
#Login3{
	padding:0;
	text-align: center;
}
